example:
  icons:
    default: EXT:typo3_yaml_loader/Resources/Public/Icons/Doktypes/example.svg
    hidden: EXT:typo3_yaml_loader/Resources/Public/Icons/Doktypes/example-hidden.svg
  title: LLL:EXT:typo3_yaml_loader/Resources/Private/Language/Backend.Doktypes.xlf:backend_layouts.example.title
  backendLayout:
    doktype: 100
    rowCount: 1
    colCount: 1
    rows:
      1:
        columns:
          1:
            name: LLL:EXT:typo3_yaml_loader/Resources/Private/Language/Backend.Doktypes.xlf:backend_layouts.example.columns.1.title
            colPos: 10
