<?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
    <file source-language="en" datatype="plaintext" original="EXT:typo3_yaml_loader/Resources/Private/Language/Backend.xlf" product-name="typo3_yaml_loader">
        <header/>
        <body>
            <!-- Example Content -->
            <trans-unit id="tt_content.example.title">
                <source>Example Element</source>
            </trans-unit>
            <trans-unit id="tt_content.example.description">
                <source>This is an example element</source>
            </trans-unit>
            <trans-unit id="tt_content.example.tabs.general.title">
                <source>General</source>
            </trans-unit>
        </body>
    </file>
</xliff>
