<?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
    <file source-language="en" datatype="plaintext" original="EXT:typo3_yaml_loader/Resources/Private/Language/Backend.xlf" product-name="typo3_yaml_loader">
        <header/>
        <body>
            <!-- Default Page -->
            <trans-unit id="backend_layouts.example.title">
                <source>Example Page</source>
            </trans-unit>
            <trans-unit id="backend_layouts.example.columns.1.title">
                <source>Main Content</source>
            </trans-unit>
        </body>
    </file>
</xliff>
